.Welcome{
	color:blue;
}
.tableData1{
	width: 60px;
	height: 60px;
	border: solid 1px red;
	background-color:black;
}
.tableData2{
	width: 60px;
	height: 60px;
	border:solid 1px red;
	background-color:yellow; 
}